@keyframes cursor {
    0%   {color: gray;}
  25%  {color: black;}
  50%  {color: gray;}
  75% {color: black;}
  100%  {color: gray;}
}
div button{
    width: calc(3vw + 3rem);
    font-size: calc(0.5rem + 0.5vw);
}
p{
    font-size: smaller;
    margin: 1% 2%;
    
}
#grad{
    
    height: 100%;
    padding: 2% 2%;
    padding-top: calc(3rem + 3vw);
    box-shadow: 0px 4px 6px 1px grey;
    margin-top: 1%;
    
}

#tamanho{
    width: 35%
}
#selectfont{
    display: inline-flex;
    font-size: smaller;
}
#alinha{
display: flex;height: 10%;
}

div p{
    font-size: calc(0.5rem + 0.5vw);
}
#doc{
    
   display: flex;
   background-color: #f4f4f4!important;
   height: 16%;
   color: darkslategrey;
   box-shadow: 1px -1px 5px black;
   border-radius: 1%;
}
#cores{
    float: right;    
   
}
#digite{
    width: 100%;
}
#edita{

     color: rgb(0, 0, 0);
     text-shadow: black 0px 0px 2px;
     background-color: rgb(255, 255, 255);
}